.createHeroContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
form{
  width: 90%;
}

.container {
  display: flex;
  justify-content: space-between;
}

.formLabelName {
  font-weight: bold;
  margin-bottom: 3%;
  margin-left: 10%;
  
}
/* .formLabelName textarea{
  width: 100%;
  max-height: 120px;
} */



.formLabel {
  font-weight: bold;
  margin-bottom: 5px;
}

.inputField {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.inputField textarea {
  border: 10px rgb(21, 139, 21); 
  min-height: 20px;
  max-height: 350px; 
  
  /* Максимальна висота 350 пікселів */
  /* Додайте інші стилі за вашим вибором */
}

.submitButton {
  background-color: #28a745;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


.imageGallery {
  display: flex;
  flex-direction: column;
  align-items: center; /* Вирівняти по центру по горизонталі */
  gap: 5px; /* Відступи між елементами */
}

/* .imageGallery img {
  width: 90%;
  max-height: 70%;
  border-radius: 5px;
  display: block;
  margin: 0 auto;
} */


.uploadedImages {
  display: flex;
  flex-wrap: wrap;
  gap: 5px; /* Відступи між елементами */
}

.imageGallery {
  display: flex;
  flex-direction: column; 
  align-items: center; 
}

.imageGallery img {
  width: 300px;
  height: auto;
  margin-bottom: 5px;
}

.removeButton {
  background-color: #dc3545;
  color: white;
  padding: 8px 0;
  width: 300px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: auto;
  margin-bottom: 5px;
}





