.header {
  background-color: #333;
    height: 50px;
  }
  
  .header__box {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 40px;
  }
  
  .header__logo {
    width: 50px;
    height: 50px;
  }
  
  .header__links {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
  
  .header__link{
    margin-left: 20px;
    position: relative;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0;
    text-align: left;
    text-decoration: none;
    color: #FF0000;
  }
  
  .header__link::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    color: #FF0000;
    opacity: 0;
  }
  
  .header__link:hover {
    color: #FF0000;
  }