.header {
  padding: 0 53px;
  display: grid;
  grid-template-columns: 55px 1fr auto;
  align-items: center;
  font-size: 34px;
  text-align: center;
  background-color: #000;
  height: 80px;
}

.header__logo {
  width: 46px;
  height: 46px;
}

.header__links {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header__links > *:nth-child(1) {
  margin-right: 50px;
  
}

.header__link {
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0;
  padding: 10px 10px;
  color: #df1111;
  border-radius: 7px;
  border: 2px solid #df1111;
  text-decoration: none;
}

.header__link:hover {
  border: 2px solid #11df11;
  text-decoration: none;
  color: #11df11;
}


.header__link_active {
  border: 2px solid #11df11;
  border-radius: 7px;
  color: #11df11;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0;
  padding: 10px 10px;
}

.header__link_active:hover {
  border: 2px solid #df1111;
  text-decoration: none;
  color: #df1111;
}


