.header {
  padding: 0 3%;
  display: flex;
  align-items: center;
  font-size: var(--font-size-heading);
  background-color: var(--bg-primary);
  justify-content: space-between;
}

.header__logo {
  width: 80px;
}

.header__logo > * {
  width: 100%;
  height: auto;
  color: var(--bg-logo);
}

.header__logo:hover > * {
  width: 100%;
  height: auto;
  color: var(--border-color-focus);

}

.header__links {
  display: flex;
  align-items: center;
  gap: var(--spacing-large);
}

.header__link, .header__link_active {
  text-align: justify;
  white-space: normal;
  word-break: break-word;
  font-size: var(--font-size-large);
  font-family: var(--font-secondary);
  font-weight: 700;
  padding: 10px 10px;
  border-radius: 7px;
  color: var(--bg-logo);
  border: 2px solid var(--bg-logo);
  transition: color 0.3s, border-color 0.3s;
  text-decoration: none !important;
}

.header__link:hover,
.header__link_active {
  text-decoration: none !important;
  color: var(--color-green);
  border: 2px solid var(--color-black-light);
}

@media (max-width: 320px) {
  .header {
    padding: 0 5px;
  }

  .header__links {
    gap: 5px;
  }

  .header__link, .header__link_active {
    font-size: var(--font-size-small);
  }


}
