  .pagination {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .page {
    border: 1px solid #ccc;
    padding: 5px 10px;
    border-radius: 10px;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .page:hover {
    background-color: var(--btn-hover-bg);
  }

  .active {
    padding: 5px 10px;
    border-radius: 10px;
    background-color: var(--btn-hover-bg-active);
    color: var(--btn-hover-text-active);
  }

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}
